*~
*.o
*.pyc
\#*\#
.\#*
.*.swp
logs
_obj
[68].out
_test
_gotest*
_testmain*
_go_.[568]
_cgo*
.goroot
.DS_Store
app/publisher/publisher.js
app/publisher/publisher.js.map
app/publisher/js/zsearch.go
app/publisher/zembed_*.go
app/scanningcabinet/ui/zembed_*
bin/*_*
bin/cam*
bin/devcam
bin/genfileembed
bin/gopherjs
bin/hello
bin/pk*
bin/perkeepd
bin/publisher
bin/reactGen
bin/scancab
bin/scanningcabinet
bin/website
clients/android/.gradle/
clients/web/embed/fontawesome/zembed_*.go
clients/web/embed/glitch/zembed_*.go
clients/web/embed/keepy/zembed_*.go
clients/web/embed/leaflet/zembed_*.go
clients/web/embed/less/zembed_*.go
clients/web/embed/opensans/zembed_*.go
clients/web/embed/react/zembed_*.go
config/tls.*
misc/docker/djpeg-static/djpeg
misc/docker/djpeg-static/djpeg.tar.gz
misc/docker/perkeepd/perkeepd*
misc/docker/perkeepd/djpeg
pkg/server/zembed_favicon.ico.go
server/perkeepd/ui/goui.js
server/perkeepd/ui/goui.js.map
server/perkeepd/ui/zembed_*
server/perkeepd/ui/closure/z_data.go

# not vendored in, because we build with the system's libsqlite3
/vendor/github.com/mattn/go-sqlite3/sqlite3-binding.c
/vendor/github.com/mattn/go-sqlite3/sqlite3-binding.h

# vendored data we don't want to retain
/vendor/**/.travis.yml
/vendor/**/.gitignore
/vendor/github.com/rwcarlsen/goexif/exif/sample1.jpg
/vendor/github.com/rwcarlsen/goexif/tiff/sample1.tif
/vendor/github.com/rwcarlsen/goexif/exif/regen_regress.go
/vendor/myitcv.io/react/internal/dev/dev.inc.js
/vendor/myitcv.io/react/internal/preact/preact.inc.js
/vendor/myitcv.io/react/internal/prod/prod.inc.js

tmp
