*~
*.o
*.pyc
\#*\#
.\#*
.*.swp
logs
_obj
[68].out
_test
_gotest*
_testmain*
_go_.[568]
_cgo*
clients/go/camgsinit/camgsinit
clients/go/camwebdav/camwebdav
.goroot
build/root
.DS_Store
bin/*_*
bin/cam*
bin/devcam
bin/hello
bin/pk*
bin/publisher
bin/scancab
bin/scanningcabinet
bin/website
tmp
app/publisher/publisher.js
server/camlistored/ui/goui.js
server/camlistored/newui/all.js
server/camlistored/newui/all.js.map
server/camlistored/newui/zembed_all.js.go
server/camlistored/ui/goui.js
config/tls.*
misc/docker/djpeg-static/djpeg
misc/docker/camlistored/camlistored*
misc/docker/camlistored/djpeg

# vendored data we don't want to retain
/vendor/**/.travis.yml
/vendor/**/.gitignore
# contains a private key
/vendor/github.com/mattn/go-sqlite3/sqlite3-binding.c
/vendor/github.com/mattn/go-sqlite3/sqlite3-binding.h
/vendor/github.com/rwcarlsen/goexif/exif/sample1.jpg
/vendor/github.com/rwcarlsen/goexif/tiff/sample1.tif
/vendor/github.com/rwcarlsen/goexif/exif/regen_regress.go
/vendor/myitcv.io/react/internal/dev/dev.inc.js
/vendor/myitcv.io/react/internal/preact/preact.inc.js
/vendor/myitcv.io/react/internal/prod/prod.inc.js
