*~
*.o
*.pyc
\#*\#
.\#*
.*.swp
logs
_obj
[68].out
_test
_gotest*
_testmain*
_go_.[568]
_cgo*
clients/go/camgsinit/camgsinit
clients/go/camwebdav/camwebdav
.goroot
build/root
.DS_Store
bin/cam*
bin/devcam
bin/*_*
bin/hello
bin/publisher
bin/scanningcabinet
bin/website
bin/scanningcabinet
bin/scancab
tmp
app/publisher/publisher.js
server/camlistored/ui/goui.js
server/camlistored/newui/all.js
server/camlistored/newui/all.js.map
server/camlistored/newui/zembed_all.js.go
server/camlistored/ui/goui.js
config/tls.*
misc/docker/djpeg-static/djpeg
misc/docker/camlistored/camlistored*
misc/docker/camlistored/djpeg

# vendored data we don't want to retain
/vendor/**/.travis.yml
/vendor/**/.gitignore
/vendor/cloud.google.com/go/datastore/testdata
/vendor/github.com/cznic/kv/_testdata
/vendor/github.com/cznic/lldb/testdata
/vendor/github.com/cznic/zappy/testdata/zappy_error_src_dump_purego.bin
/vendor/github.com/garyburd/go-oauth/examples
/vendor/github.com/golang/protobuf/proto/testdata
/vendor/github.com/gopherjs/gopherjs/tests/testdata
/vendor/github.com/gorilla/websocket/examples
/vendor/github.com/mattn/go-sqlite3/sqlite3_windows.c
/vendor/github.com/rwcarlsen/goexif/exif/corrupt
/vendor/github.com/rwcarlsen/goexif/exif/example_test.go
/vendor/github.com/rwcarlsen/goexif/exif/exif_test.go
/vendor/github.com/rwcarlsen/goexif/exif/samples
/vendor/github.com/rwcarlsen/goexif/exif/sample1.jpg
/vendor/github.com/rwcarlsen/goexif/tiff/sample1.tif
/vendor/github.com/rwcarlsen/goexif/exif/regen_regress.go
/vendor/github.com/rwcarlsen/goexif/exif/regress_expected_test.go
/vendor/github.com/rwcarlsen/goexif/tiff/tiff_test.go
/vendor/github.com/russross/blackfriday/testdata
/vendor/github.com/syndtr/goleveldb/leveldb/testutil
/vendor/github.com/syndtr/goleveldb/manualtest
/vendor/github.com/tgulacsi/picago/testdata
/vendor/github.com/tgulacsi/picago/testdata
/vendor/go4.org/jsonconfig/testdata
/vendor/golang.org/x/image/testdata
/vendor/golang.org/x/image/font/testdata
/vendor/golang.org/x/net/html/charset/testdata
/vendor/golang.org/x/net/html/testdata
/vendor/golang.org/x/net/http2/testdata
# oauth2 tests have private keys which cause trouble for devcam review
/vendor/golang.org/x/oauth2/google/example_test.go
/vendor/golang.org/x/oauth2/google/google_test.go
/vendor/golang.org/x/oauth2/google/testdata/
/vendor/golang.org/x/oauth2/jwt/example_test.go
/vendor/golang.org/x/oauth2/jwt/jwt_test.go
/vendor/golang.org/x/text/encoding/testdata
/vendor/golang.org/x/text/language/testdata
/vendor/golang.org/x/tools/go/gcimporter15/testdata
/vendor/google.golang.org/grpc/benchmark
/vendor/google.golang.org/grpc/examples
/vendor/google.golang.org/grpc/interop/client/testdata
/vendor/google.golang.org/grpc/interop/server/testdata
/vendor/google.golang.org/grpc/reflection
/vendor/google.golang.org/grpc/stress
/vendor/google.golang.org/grpc/test
/vendor/google.golang.org/grpc/testdata
/vendor/google.golang.org/grpc/transport/testdata
/vendor/myitcv.io/gogenerate/_testFiles
/vendor/myitcv.io/react/examples
/vendor/myitcv.io/react/internal/dev/dev.inc.js
/vendor/myitcv.io/react/internal/preact/preact.inc.js
/vendor/myitcv.io/react/internal/prod/prod.inc.js
/vendor/myitcv.io/react/_scripts
/vendor/myitcv.io/react/_talks
/vendor/myitcv.io/react/_vendor
/vendor/rsc.io/pdf/pdfpasswd/main.go
