.cam-blobitemcontainer {
  outline: 0;  /* Do not show an outline when container has focus. */
  border: 1px solid rgba(0,0,0,0);
  position: relative;
  white-space: nowrap;
}
.cam-blobitemcontainer.cam-dropactive {
  border-color: #acf;
  background: #e5efff;
}
.cam-blobitemcontainer-hidden {
  display: none;
}
