/* Tile view of BlobItem */
.cam-blobitem {
  margin: 0.25em;
  border: 1px solid gray;
  padding: 8px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  outline: 0;
  cursor: default;
}

.cam-blobitemcontainer-25 .cam-blobitem {
  width: 50px;
  height: 50px;
}
.cam-blobitemcontainer-25 .cam-blobitem-thumbtitle {
  font-size: 8px;
}

.cam-blobitemcontainer-50 .cam-blobitem {
  width: 100px;
  height: 100px;
}
.cam-blobitemcontainer-50 .cam-blobitem-thumbtitle {
  font-size: 10px;
}

.cam-blobitemcontainer-75 .cam-blobitem {
  width: 125px;
  height: 125px;
}
.cam-blobitemcontainer-75 .cam-blobitem-thumbtitle {
  font-size: 12px;
}

.cam-blobitemcontainer-100 .cam-blobitem {
  width: 150px;
  height: 150px;
}
.cam-blobitemcontainer-100 .cam-blobitem-thumbtitle {
  font-size: 14px;
}

.cam-blobitemcontainer-150 .cam-blobitem {
  width: 200px;
  height: 200px;
}
.cam-blobitemcontainer-150 .cam-blobitem-thumbtitle {
  font-size: 16px;
}

.cam-blobitemcontainer-200 .cam-blobitem {
  width: 250px;
  height: 250px;
}
.cam-blobitemcontainer-200 .cam-blobitem-thumbtitle {
  font-size: 18px;
}

.cam-blobitem:hover {
  border: 1px solid black;
  background: #ccc;
}

.cam-blobitem.goog-control-checked {
  border: 3px solid black;
  background: #ffc;
  padding: 6px;
}

.cam-blobitem.goog-control-checked:hover {
  border: 3px solid black;
  padding: 6px;
  background: #e6e6b8;
}

.cam-blobitem-thumbtitle {
  overflow: hidden;
  text-overflow: ellipsis
}
.cam-blobitem-thumbtitle:hover {
  text-decoration: underline;
  background: #999;
}

.cam-blobitem-dropactive {
  outline: 0;  /* Do not show an outline when container has focus. */
  border-width: 5px;
  border-color: #acf;
  border-style: dashed;
  position: relative;
  border-radius: 5px;
}
