/* Tile view of BlobItem */
.cam-blobitem {
  display: inline-block;
}

.cam-blobitem>a {
  text-decoration: none;
}

.cam-blobitem-thumbclip {
  position: relative;
  overflow: hidden;
}

.cam-blobitem-thumb {
  display: block;
  position: relative;
}

.cam-blobitemcontainer-50 .cam-blobitem-thumbtitle {
  font-size: 10px;
}

.cam-blobitemcontainer-75 .cam-blobitem-thumbtitle {
  font-size: 12px;
}

.cam-blobitemcontainer-100 .cam-blobitem-thumbtitle {
  font-size: 12px;
}

.cam-blobitemcontainer-150 .cam-blobitem-thumbtitle {
  font-size: 13px;
}

.cam-blobitemcontainer-200 .cam-blobitem-thumbtitle {
  font-size: 14px;
}

.cam-blobitemcontainer-250 .cam-blobitem-thumbtitle {
  font-size: 14px;
}

.cam-blobitem-thumbtitle {
  color: #222;
  font-size: 0.8em;
  overflow: hidden;
  padding: 0 1ex;
  text-align: center;
  text-overflow: ellipsis;
  display: block;
}

.cam-blobitem.cam-blobitem-image .cam-blobitem-thumbtitle {
  display: none;
}

.cam-blobitem.cam-dropactive {
  border: 1px solid #acf!important;
  outline: 1px solid #acf!important;
  background: #e5efff;
}

.cam-blobitem .checkmark {
  background-image: url('checkmark-black-25.png');
  background-repeat: no-repeat;
  cursor: pointer;
  height: 25px;
  left: 5px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transition: opacity 0.2s ease;
  width: 25px;
}

.cam-blobitem.goog-control-disabled .checkmark {
  display: none;
}

.cam-blobitem.goog-control-hover .checkmark {
  opacity: 0.6;
}

.cam-blobitem.goog-control-hover .checkmark:hover {
  opacity: 1!important;
}

.cam-blobitem.goog-control-checked .checkmark {
  opacity: 1!important;
}

.cam-blobitem.goog-control-checked .checkmark {
  background-image: url('checkmark-blue-25.png');
}
