/* TODO(aa): All this needs to get renamed to image-detail */
.detail-view {
	background: black;
	left: 0;
	position: absolute;
	overflow: hidden;
	top: 0;
}

.detail-view-img {
	opacity: 0;
	position: absolute;
	transition: opacity 200ms linear;
}

.detail-view-img-loaded {
	opacity: 1;
}

.detail-img-leave {
	transition: opacity 200ms linear;
	opacity: 1;
}
.detail-img-leave.detail-img-leave-active {
	opacity: 0;
}

.detail-view-sidebar {
	background: white;
	bottom: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 0;
}

.detail-view-piggy {
	position: absolute;
}

.detail-view-piggy.detail-view-piggy-backward {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.detail-piggy-leave {
	transition: opacity 200ms linear;
	opacity: 1;
}

.detail-piggy-leave.detail-piggy-leave-active {
	opacity: 0;
}

.detail-title {
	font-size: inherit;
	margin: 0;
}

.detail-description {
	margin-bottom: 0;
}

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
