body {
	background: black;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

.detail-view {
	position: relative;
	overflow: hidden;
}

.detail-view-img {
	opacity: 0;
	position: absolute;
	transition: opacity 200ms linear;
}

.detail-view-img-loaded {
	opacity: 1;
}

.detail-view-sidebar {
	background: white;
	bottom: 0;
	overflow: auto;
	padding: 15px;
	position: absolute;
	right: 0;
	top: 0;
}

.detail-view-piggy {
	position: absolute;
}

.detail-piggy-leave {
	transition: opacity 200ms linear;
	opacity: 1;
}

.detail-piggy-leave.detail-piggy-leave-active {
	opacity: 0;
}

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
