.cam-toolbar-magnify {
  display: block;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.cam-toolbar-magnify .goog-toolbar-button-inner-box {
  width: 20px;
}

/* copied from third_party/closure/lib/closure/goog/css/toolbar.css */
.cam-toolbar {
  background: #fafafa url(closure-toolbar-bg.png) repeat-x bottom left;
  border-bottom: 1px solid #d5d5d5;
  cursor: default;
  font: normal 12px Arial, sans-serif;
  margin: 0;
  outline: none;
  padding: 2px;
  position: relative;
  zoom: 1; /* The toolbar element must have layout on IE. */
}

.cam-toolbar-status {
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -0.75em;
  line-height: 1.5em;
  color: #666;
}
