# If you build in docker, ignore this file, and do not create a local.properties file.
# Otherwise copy this file to one named "local.properties" and update this path to
# wherever your Android SDK is located:
sdk.dir=/home/bradfitz/sdk/android
