{{define "page"}}
<html>
	{{template "header" .}}
	<body>
	{{template "banner" .}}
	{{template "toplinks" .}}
	<div class='content'>
		<!-- Content is HTML-escaped elsewhere -->
		{{.Content}}
	</div>
	{{template "footer" .}}
	</body>
</html>
{{end}}

{{define "header"}}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="go-import" content="camlistore.org git https://camlistore.googlesource.com/camlistore">
{{with $x := .Title}}
  <title>{{$x}} - Camlistore</title>
{{else}}
  <title>Camlistore</title>
{{end}}
<!-- TODO(mpl): figure out why Index does not toggle (like Overview) -->
<link rel="stylesheet" href="/static/all.css" type="text/css" media="all" charset="utf-8">
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/static/all-async.js" async="true"></script>
<script type="text/javascript" src="/static/godocs.js"></script>
</head>
{{end}}

{{define "banner"}}
<div id='header'>
<a href="/"><img width='788' height='161' src='/static/camli-header.jpg' title="Camlistore" border='0' /></a>
</div>
{{end}}

{{define "toplinks"}}
<div class='bar'><div class='hatecss'>
  <a href='/'>Home</a>
  <a href='/download'>Download</a>
  <a href='/docs/'>Docs</a>
  <a href='/code'>Code</a>
  <a href='/community'>Community</a>
</div></div>
{{end}}

{{define "footer"}}
<div class='bar'><div class='hatecss'>
</div></div>
<div id='props'>
Website layout inspired by <a href="http://git-scm.com/">git</a> and <a href="http://memcached.org/">memcached</a>,<br />
design done by <a href="http://upallday.com/">up all day</a> creative solutions.<br />
Content by <a href="/contributors">the authors</a>.
</div>
{{end}}
