<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.danga.camli"
      android:versionCode="1"
      android:versionName="1.0">
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">

        <service android:name=".UploadService"
                 android:exported="false"
                 android:label="Camlistore Upload Service" />

        <activity android:name=".CamliActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

		<activity android:name=".SettingsActivity">
		</activity>

    </application>
</manifest> 