body {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}
pre,
code {
	font-family: Menlo, monospace;
	font-size: 14px;
}
pre {
	line-height: 18px;
}
pre .comment {
	color: #375EAB;
}
pre .highlight,
pre .highlight-comment,
pre .selection-highlight,
pre .selection-highlight-comment {
	background: #FFFF00;
}
pre .selection,
pre .selection-comment {
	background: #FF9632;
}
pre .ln {
	color: #999;
}
body {
	color: #222;
}
a,
.exampleHeading .text {
	color: #375EAB;
	text-decoration: none;
}
a:hover,
.exampleHeading .text:hover {
	text-decoration: underline;
}
p,
pre,
ul,
ol {
	margin: 15px;
}

li > ul {
      margin-top: 10px;
      margin-bottom: 10px;
}

pre {
	background: #e9e9e9;
	padding: 10px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

h1,
h2,
h3,
h4,
.rootHeading {
	margin: 20px 0;
	padding: 0;
	color: #375EAB;
	font-weight: bold;
}
h1 {
	font-size: 24px;
}
h2,
h2>a {
	color: #fff;
	background: url(camli-bar-background.png);
	padding: 2px 5px;
}
h2 {
	font-size: 20px;
}
h2>a {
	font-size: 18px;
	text-decoration: underline;
}
h2>a:hover {
	color: #be1d2d;
}
h3 {
	font-size: 20px;
}
h3,
h4 {
	margin: 20px 5px;
}
h4 {
	font-size: 16px;
}
.rootHeading {
	font-size: 20px;
	margin: 0;
}

dl {
	margin: 20px;
}
dd {
	margin: 2px 20px;
}
dl,
dd {
	font-size: 14px;
}

table.dir th {
	text-align: left;
}
table.dir td {
	word-wrap: break-word;
	vertical-align: top;
}
div#page.wide table.dir td.name {
	white-space: nowrap;
}

#header {
  text-align: center;
}

div.bar {
  height: 43px;
  width: 788;
  text-align: center;
  background: url(camli-bar-background.png);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.bar div.hatecss {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 788px;
  height: 43px;
  /* border: 1px solid red; */
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  font-family: 'Droid Sans', arial, serif;
  text-transform: uppercase; 
}

div.bar div.hatecss a {
  color: #fff;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

div.content {
  width: 788px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 140%;
  font-size: 16px;
}

#props {
  margin-top:1em;
  text-align: center;
  font-size: 75%;
}

table.status {
  border: 2px solid black;
  width: 100%;
}

table.status td {
  border: 1px solid #999;
  padding: 0.4em;
}

table.status th {
  border: 1px solid black;
  padding: 0.4em;
}

dl.terms dt {
  margin-top: 0.5em;
  font-weight: bold;
  font-style: italic;
}

ul.lispaced li {
      margin-top: 0.8em;
}

tt {
    color: #e84c00;
    font-weight: bold;
}

pre.sty {
    padding-left: 1em;
    border-left: 2px solid #e84c00;
    background: #e8b9a2;
}

a.local {
    text-underline: dotted-underline;  /* TODO: i forget. look this up */
}

span.termhashlink {
    font-weight: normal;
    font-size: small;
    color: #e84c00;
}

span.termhashlink a {
    color: #e84c00;
}

.toggleButton { cursor: pointer; }
.toggle .collapsed { display: block; }
.toggle .expanded { display: none; }
.toggleVisible .collapsed { display: none; }
.toggleVisible .expanded { display: block; }
