body {
  margin-top: 0;
  font-family: 'Droid Sans', arial, serif;
}

#header {
  text-align: center;
}

div.bar {
  height: 43px;
  width: 788;
  text-align: center;
  background: url(camli-bar-background.png);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.bar div.hatecss {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 788px;
  height: 43px;
  /* border: 1px solid red; */
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  font-family: 'Droid Sans', arial, serif;
  text-transform: uppercase; 
}

div.bar div.hatecss a {
  color: #fff;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

div.content {
  width: 788px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 140%;
}

#props {
  margin-top:2em;
  text-align: center;
  font-size: small;
}
