on:
  push:
    branches:
      - "master"
  pull_request:
    # all PRs on all branches
name: "tests/lint"

jobs:
  test:
    strategy:
      matrix:
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Check for fmt compliance
      run: |
        go fmt ./...
        test -z "$(git status --porcelain)"

    - name: Go vet
      run: go vet ./...

    - name: Run staticcheck
      run: make staticcheck

    - name: Check for env vars documentation
      run: go run dev/envvardoc/envvardoc.go
