on:
  push:
    branches:
      - "master"
  pull_request:
    # all PRs on all branches
name: "tests/linux"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: linux-16cpu

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Install fuse
      run: sudo apt-get install --yes fuse3

    - name: Build and test
      run: |
        go run make.go -v=true
        devcam test
