on:
  push:
    branches:
      - "master"
  pull_request:
    # all PRs on all branches
name: "tests/macos"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        platform: [macos-latest]
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: install sqlite
      run: brew install sqlite3 pkg-config

    - name: Build and test
      run: |
        go run make.go -v=true
        devcam test
