on:
  push:
    branches:
      - "master"
  pull_request:
    # all PRs on all branches
name: "tests/tidy"

jobs:
  test:
    strategy:
      matrix:
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Check 'go mod tidy'
      run: |
        go mod tidy
        test -z "$(git status --porcelain)"
