on:
  push:
    branches:
      - "master"
  pull_request:
    # all PRs on all branches
name: "tests/windows"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        platform: [windows-latest]
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Build and test
      run: |
        go run make.go -v
        devcam test
