on:
  push:
    branches:
      - "master"
  pull_request:
    # all PRs on all branches
name: "tests/linux"

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.21.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

    - name: Install fuse
      run: sudo apt-get install --yes fuse3

    - name: Symlink source into GOPATH for devcam
      run: |
        mkdir $(go env GOPATH)/src
        ln -s $(pwd) $(go env GOPATH)/src/perkeep.org

    - name: Build and test
      run: |
        go run make.go -v=true
        devcam test
